.perfil-picture {
  border-radius: 50%;
  width: 4em;
}

.head {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 0.5em;
}

.subtitle {
  align-self: center;
  font-size: 1.5em;
  font-weight: 700;
}

.b-shadow {
  box-shadow: 0px -1px 5px 3px var(--color-background);
}

.f-btn {
  background-color: var(--color-box-base);
  border: none;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  height: 50px;
  width: 200px;
}

.f-btn:hover {
  background-color: #f2f2f2;
}

.f-btn a{
  text-decoration: none;
}

footer {
  background: var(--color-background-infos);
  display: flex;
  justify-content: space-around;
  padding: 1% 0;
  min-height: 100px;
  flex-wrap: wrap;
  max-width: 100%;
}

footer > button:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

