.perfil-picture {
  border-radius: 50%;
  width: 4em;
}

.head {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  max-width: 700px;
}

.subtitle {
  align-self: center;
  font-size: 1.5em;
  font-weight: 700;
}

.b-shadow {
  box-shadow: 0px -1px 5px 3px var(--color-background);
}
