.qrCode {
  height: 12em;
  border-radius: 6px;
}

.id-container {
  display: flex;
  flex-direction: column;
}

.circle {
  text-align: center;
  background-color: #ffbd59;
  border-bottom: 30px solid var(--color-text-base);
  border-left: 30px solid white;
  border-radius: 50%;
  border-right: 30px solid var(--color-text-base);
  border-top: 30px solid white;
  width: 12em;
  height: 12em;
  margin: 1%;
}

.id-container h2 {
  margin: 1% auto;
}

.circle h1 {
  position: relative;
  top: 55px;
  font-size: 2em;
}

.graphic-container {
  box-shadow: 0 1px 5px white , 10px 10px 0 0 white;
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
}

.qr-code-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
