.qrCode {
  align-self: flex-end;
  margin: 15% 5%;
  height: 10em;
  border-radius: 6px;
}

.id-container {
  display: flex;
  flex-direction: column;
}

.circle {
  text-align: center;
  background-color: #ffbd59;
  border-bottom: 30px solid var(--color-text-base);
  border-left: 30px solid white;
  border-radius: 50%;
  border-right: 30px solid var(--color-text-base);
  border-top: 30px solid white;
  width: 15em;
  height: 15em;
  margin: auto;
}

.id-container h2 {
  margin: 6% auto;
}

.circle h1 {
  position: relative;
  top: 55px;
  font-size: 3em;
}
