:root {
  font-size: 60%;
  --color-background: rgb(243, 189, 12);
  --color-background-infos: rgb(255, 166, 0);
  --color-primary-light: #916BEA;
  --color-primary: #8257E5;
  --color-primary-dark: #774DD6;
  --color-primary-darker: #6842C2;
  --color-secundary: #04D361;
  --color-secundary-dark: #04BF58;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #D4C2FF;
  --color-text-title: #32264D;
  --color-text-complement: #9C98A6;
  --color-text-base: #6A6180;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #000000;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;
}

html , body {
  border: 0;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
}

body {
  background-color: var(--color-background);
}

#root{
  align-items: center;
  display: flex;
  justify-content: center;
}

body , input , button , textarea {
  color: var(--color-text-base);
  font: 500 1.6rem Poppins;
}

.container {
  max-width: 700px;
  width: 100%;
}

@media ( min-width : 700px ) {

  :root {
    font-size: 62.5%;
  }
}
