.filter-title {
  font-size: 2em;
  margin: 0;
  padding: 1rem;
}

.filter-bar {
  display: flex;
  justify-content: space-around;
  max-width: 300px;
}

.filter-bar > label {
  cursor: pointer;
  margin-bottom: 10px;
}

.filter-bar > input {
  cursor: pointer;
}
