.client-container {
  margin-top: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  width: 100%;
}

.client-container h1 {
  padding: 0.5rem;
}

.client-container span {
  padding: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  font-size: 40px;
}
